name: Deploy Business Card

on:
    push:
        branches:
            - main

jobs:
    deploy:
        runs-on: self-hosted

        steps:
            - name: Fix permissions for cleanup
              run: sudo chown -R $USER:$USER ${{ github.workspace }} || true

            - name: Checkout code
              uses: actions/checkout@v4

            - name: Deploy Container
              run: |
                  docker compose -f docker-compose.prod.yml up -d --build --remove-orphans

                  docker image prune -f

            - name: Health Check
              run: |
                  sleep 5
                  curl -f http://192.168.1.1:9090 || exit 1
